// Laptop
@media only screen and (max-width: 992px) {
  .sign-in-bg {
    form {
      width: 75% !important;
    }
  }
}

// Tablet
@media only screen and (max-width: 768px) {
  .page {
    min-height: 100vh;
    .nav-bar {
      min-height: 20vh;
    }
    .main-content {
      min-height: 79.5vh;
    }
  }
}

// Mobile
@media only screen and (max-width: 576px) {
  .page {
    min-height: 100vh;
    .nav-bar {
      min-height: 10vh !important;
    }
    .main-content {
      min-height: 79.5vh;
    }
  }
}
